DISCORD_TOKEN=cole_o_token_do_bot_aqui
SUPORTE_ROLE_ID=cole_o_id_do_cargo_de_suporte_aqui
SUPORTE_LICENCA_ID=cole_o_id_do_cargo_ou_permissao_de_licenca_aqui

CHANNEL_ID_LICENCA=
GUILD_ID_ACESSO_NUVEM=
CHANNEL_ID_ACESSO_NUVEM=
GUILD_ID_COMUNICADOR=
CHANNEL_ID_COMUNICADOR=
GUILD_ID_CRIACAO_VM=
CHANNEL_ID_CRIACAO_VM=
GUILD_ID_IDCLOUD=
CHANNEL_ID_IDCLOUD=
CHANNEL_ID=
